html {
  /*
  background: url(/assets/images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

body {
  font-family: "Helvetica";
}

hr {
    margin: 0; padding: 0;
}

ul {
    width: 60%;
}

p {
  /*background: #eee;*/
}

.market-detail {
    padding: 3px 5px;
}

.market-detail:hover {
    background-color: #C8E6C9;
}

.market-detail .id {
    float: right;
    font-size: smaller;
    font-weight: normal;
    background-color: #A5D6A7;
    visibility: hidden;
}

.market-detail:hover .id {
    visibility: visible;
}

.market-detail .id small {

}
